<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
<meta name="renderer" content="webkit"/>
<meta name="applicable-device" content="pc">
<title>

糗事百科

</title>



<meta name="description" content="刚才去吃早点，驴肉火烧。那个店老板的手艺绝佳，不过因为刚开张，店面又有点儿偏僻，所以食客不多，基本上每次去只有我一个客人。

今天正在吃着，进来一位大哥，要买两个火烧带走。他一边等待一边和老闲聊，说小" />

<meta name="keywords"  />
<meta http-equiv="mobile-agent" content="format=html5;url=//www.qiushibaike.com/article/119366593">
<meta http-equiv="mobile-agent" content="format=xhtml;url=//www.qiushibaike.com/article/119366593">


<link rel="canonical" href="//www.qiushibaike.com/article/119366593"/>

<meta name="robots" content="noarchive">
<link href="//static.qiushibaike.com/css/dist/web/app.min.css?v=469cfa1226bca73dda18635120c2aa22" media="screen, projection" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
// Baidu Automatic push content
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?2670efbdd59c7e3ed3749b458cafaa37";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>


<div id="header" class="head">
<div class="content-block">
<div class="logo" id="hd_logo">
<a ><h1>糗事百科</h1></a>
</div>
<div id="menu" class="menu-bar menu clearfix" style="margin:0 10px">
<a   rel="nofollow">热门</a>
<a  >24小时</a>
<a  >热图</a>
<a  >文字</a>
<a  >穿越</a>
<a  >糗图</a>
<a  >新鲜</a>
<a  class="fn-signin-required" href="javascript:void(0);" data-go="/article/add" rel="nofollow">投稿</a>
<!--<a href="http://www.youliaodao.cn" target="_blank" rel="nofollow">百科</a>-->
</div>

<div class="userbar clearfix">
<div class="login hidden">
<a href="/my" class="username" id="uname" rel="nofollow"></a>
</div>
<div class="logout">
<a href="javascript:void(0);" class="fn-signin-required logintop" id='logintop' rel="nofollow" style="font-size:16.5px;">登录</a>
</div>
</div>

</div>
</div>



<div id="content" class="main">
<div class="content-block clearfix">

<div class="col1">
<div class="source">






</div>

<div class='alert_coll_page' id='alert_coll_page'>
<div class='alert_coll_bg'></div>
<div class='alert_coll'>


</div>
</div>


<div class="article block untagged noline mb15" id='qiushi_tag_119366593'>

<div class="author clearfix">
<a href={{ joke_list.1 }} target="_blank" rel="nofollow">
<img src="//pic.qiushibaike.com/system/avtnew/3388/33883000/medium/20170718065809.JPEG" alt={{ joke_list.0 }}/>
</a>
<a href={{ joke_list.1 }} target="_blank" title={{ joke_list.0 }}>
<h2>{{ joke_list.0 }}</h2>
</a>
<div class="articleGender manIcon">27</div>
</div>


<input type="hidden" id="hid">
<div id="single-next-link" title="下一条">


<div class="content">

{{ joke_list.2 }}

</div>




</div>


<div class='page-nav-list'>
<div id='single-pre-link' class='page-nav-list-bian page-nav-list-pre'>上一条</div>
<div href="{{ total_link }}" id='single-next-link-button' class='page-nav-list-next'>下一条，你懂的</div>

</div>

<div class="stats">
<span class="stats-vote"><i class="number">{{ joke_list.3 }}</i> 好笑</span>
<span class="stats-comments">


<span class="dash"> · </span>
<i class="number">{{ joke_list.4 }}</i> 评论



</span>
</div>
<div>
<ul class="clearfix">
<li id="vote-up-119366593" class="up">
<a href="javascript:voting(119366593,1)" class="voting" data-article="119366593" id="up-119366593" rel="nofollow">
<i></i>
<span class="number hidden">584</span>
</a>
</li>
<li id="vote-dn-119366593" class="down">
<a href="javascript:voting(119366593,-1)" class="voting" data-article="119366593" id="dn-119366593" rel="nofollow">
<i></i>
<span class="number hidden">-16</span>
</a>
</li>

</ul>
</div>
<div class="single-share">
</div>
<div class="single-clear"></div>



<!-- like user -->

<!-- god cmt -->


</div>














<input type="hidden" value = "/article/118816366" id='articleNextLink' />
<input type="hidden" value = "/article/118902651" id='articlePreLink' />
<input type="hidden" value =1 id='isArticle' />



<!-- single page recommend & comments -->

<!--<div class="recommend clearfix">-->




<!--<a href="/article/118890505" title="刚才来了个大哥" >-->
<!--<span>L</span>-->
<!--Z去大宝剑，服务的妹子说：哥，你是不是还有个哥哥？-->
<!--LZ说，没有啊，我独生子。-->
<!--于是妹子拿出手机给LZ看，：刚才来了个-->
<!--…-->
<!--</a>-->



<!--<a href="/article/119415580" title="然后隔壁坑来了个大哥" >-->
<!--<span>就</span>-->
<!--刚才，在天津飞机场肚子不舒服蹲着呢，然后隔壁坑来了个大哥，稀里哗啦过后突然打了几个饱嗝！！！！！！我的天哪，大哥你是又-->
<!--…-->
<!--</a>-->



<!--<a href="/article/118379167" title="伸出手说要九毛坐公交车" >-->
<!--<span>分</span>-->
<!--享一个真事儿，别让同情心助衍恶行为-->

<!--今天晚上等公交回家，中转的时候人困马乏一脸的不耐烦。这时候来了一个中年男人，穿的-->
<!--…-->
<!--</a>-->



<!--<a href="/article/119046442" title="刚才看见一个说自己因为没叫大碗面的段子" >-->
<!--<span>刚</span>-->
<!--才看见一个说自己因为没叫大碗面的段子，我刚从医院出来叫了碗大碗牛肉拉面结果给我来了份小碗，这是逼着我学那为大哥啊-->

<!--</a>-->



<!--<a href="/article/119385395" title="我当时劫后重生啊" >-->
<!--<span>记</span>-->
<!--得以前在酒店上班得时候，有一次酒店电梯坏掉了，当时特别着急心想完了，当时才16岁，后来电梯突然自己开了，我当时劫后重生-->
<!--…-->
<!--</a>-->


<!--</div>-->

<div class="comments-wrap">

<h3 id="comments-num" class="fs-m mb-m comments-num">
评论
</h3>

<div id="qiushi_comments_119366593" class="comments ">
<div id="r119366593" class="comments-list clearfix">
{% for joke_comment in joke_comment_list %}
<div id="comment-378704716" class="comment-block clearfix floor-19">
<div class="avatars">
<a href="/users/14205027/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/1420/14205027/thumb/20170724210044.JPEG" alt="啦啦啦提百万"></a>
</div>
<div class="replay">
<a href={{ joke_comment.2 }} class="userlogin" target="_blank" title={{ joke_comment.3 }}>{{ joke_comment.3 }}
<div class="articleCommentGender manIcon">12</div>
</a>
<span class="body">{{ joke_comment.1 }}</span>
</div>
<div class="report">19</div>
</div>
{% endfor %}

<!--<div id="comment-378530142" class="comment-block clearfix floor-16">-->
<!--<div class="avatars">-->
<!--<a href="/users/2810743/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/281/2810743/thumb/20170815152302.JPEG" alt="糗百养殖户"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/2810743/" class="userlogin" target="_blank" title="糗百养殖户">糗百养殖户-->
<!--<div class="articleCommentGender manIcon">28</div>-->
<!--</a>-->
<!--<span class="body">LZ明明是贪图老板美色，想搞基啊</span>-->
<!--</div>-->
<!--<div class="report">16</div>-->
<!--</div>-->

<!--<div id="comment-378426807" class="comment-block clearfix floor-15">-->
<!--<div class="avatars">-->
<!--<a href="/users/17927009/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/1792/17927009/thumb/20170512182854.JPEG" alt="嗨！下雨了！"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/17927009/" class="userlogin" target="_blank" title="嗨！下雨了！">嗨！下雨了！-->
<!--<div class="articleCommentGender womenIcon">99</div>-->
<!--</a>-->
<!--<span class="body">回复 11楼：是呢是呢</span>-->
<!--</div>-->
<!--<div class="report">15</div>-->
<!--</div>-->

<!--<div id="comment-378425641" class="comment-block clearfix floor-14">-->
<!--<div class="avatars">-->
<!--<a href="/users/21278015/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/2127/21278015/thumb/20170509013913.JPEG" alt="你就是我要找的人"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/21278015/" class="userlogin" target="_blank" title="你就是我要找的人">你就是我要找的人-->
<!--<div class="articleCommentGender manIcon">37</div>-->
<!--</a>-->
<!--<span class="body">回复 12楼：可事实恰恰相反，越多人的店吃客越想去，越少人的店吃客越不想去。！羊群心理，</span>-->
<!--</div>-->
<!--<div class="report">14</div>-->
<!--</div>-->

<!--<div id="comment-378417294" class="comment-block clearfix floor-13">-->
<!--<div class="avatars">-->
<!--<a href="/users/17785373/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/1778/17785373/thumb/20140711171519.jpg" alt="幽冥断刺"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/17785373/" class="userlogin" target="_blank" title="幽冥断刺">幽冥断刺-->
<!--<div class="articleCommentGender manIcon">25</div>-->
<!--</a>-->
<!--<span class="body">喜欢安静</span>-->
<!--</div>-->
<!--<div class="report">13</div>-->
<!--</div>-->

<!--<div id="comment-378406177" class="comment-block clearfix floor-12">-->
<!--<div class="avatars">-->
<!--<a href="/users/20992447/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/2099/20992447/thumb/20170605162405.JPEG" alt="成都呀"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/20992447/" class="userlogin" target="_blank" title="成都呀">成都呀-->
<!--<div class="articleCommentGender manIcon">20</div>-->
<!--</a>-->
<!--<span class="body">我也是不喜欢热闹，吃饭或者买东西都喜欢人少的店，这样也有好处比如服务会热情一点，不会像人多的店把你晾在一边，我说的对吧</span>-->
<!--</div>-->
<!--<div class="report">12</div>-->
<!--</div>-->

<!--<div id="comment-378402824" class="comment-block clearfix floor-11">-->
<!--<div class="avatars">-->
<!--<a href="/users/33883000/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/3388/33883000/thumb/20170718065809.JPEG" alt="XiaobailongYyy"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/33883000/" class="userlogin" target="_blank" title="XiaobailongYyy">XiaobailongYyy-->
<!--<div class="articleCommentGender manIcon">27</div>-->
<!--</a>-->
<!--<span class="body">回复 10楼：看来也是同道中人</span>-->
<!--</div>-->
<!--<div class="report">11</div>-->
<!--</div>-->

<!--<div id="comment-378395387" class="comment-block clearfix floor-10">-->
<!--<div class="avatars">-->
<!--<a href="/users/17927009/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/1792/17927009/thumb/20170512182854.JPEG" alt="嗨！下雨了！"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/17927009/" class="userlogin" target="_blank" title="嗨！下雨了！">嗨！下雨了！-->
<!--<div class="articleCommentGender womenIcon">99</div>-->
<!--</a>-->
<!--<span class="body">环境比吃的重要。我都选人少那家</span>-->
<!--</div>-->
<!--<div class="report">10</div>-->
<!--</div>-->

<!--<div id="comment-378389723" class="comment-block clearfix floor-9">-->
<!--<div class="avatars">-->
<!--<a href="/users/31901587/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/3190/31901587/thumb/2016112916453741.JPEG" alt="奇怪的大蜀黍"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/31901587/" class="userlogin" target="_blank" title="奇怪的大蜀黍">奇怪的大蜀黍-->
<!--<div class="articleCommentGender manIcon">100</div>-->
<!--</a>-->
<!--<span class="body">回复 8楼：也是，全是板脂</span>-->
<!--</div>-->
<!--<div class="report">9</div>-->
<!--</div>-->

<!--<div id="comment-378388178" class="comment-block clearfix floor-8">-->
<!--<div class="avatars">-->
<!--<a href="/users/33883000/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/3388/33883000/thumb/20170718065809.JPEG" alt="XiaobailongYyy"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/33883000/" class="userlogin" target="_blank" title="XiaobailongYyy">XiaobailongYyy-->
<!--<div class="articleCommentGender manIcon">27</div>-->
<!--</a>-->
<!--<span class="body">回复 7楼：我的肉不如驴肉值钱啊！[大哭]</span>-->
<!--</div>-->
<!--<div class="report">8</div>-->
<!--</div>-->

<!--<div id="comment-378387459" class="comment-block clearfix floor-7">-->
<!--<div class="avatars">-->
<!--<a href="/users/30636873/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/3063/30636873/thumb/20160116100749.jpg" alt="此人已被轮奸"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/30636873/" class="userlogin" target="_blank" title="此人已被轮奸">此人已被轮奸-->
<!--<div class="articleCommentGender manIcon">26</div>-->
<!--</a>-->
<!--<span class="body">你要是说实话估计老板要把你剁了做火烧了</span>-->
<!--</div>-->
<!--<div class="report">7</div>-->
<!--</div>-->

<!--<div id="comment-378386227" class="comment-block clearfix floor-6">-->
<!--<div class="avatars">-->
<!--<a href="/users/33883000/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/3388/33883000/thumb/20170718065809.JPEG" alt="XiaobailongYyy"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/33883000/" class="userlogin" target="_blank" title="XiaobailongYyy">XiaobailongYyy-->
<!--<div class="articleCommentGender manIcon">27</div>-->
<!--</a>-->
<!--<span class="body">回复 5楼：说得真好，被你看穿了！</span>-->
<!--</div>-->
<!--<div class="report">6</div>-->
<!--</div>-->

<!--<div id="comment-378386181" class="comment-block clearfix floor-5">-->
<!--<div class="avatars">-->
<!--<a href="/users/13227495/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/1322/13227495/thumb/20140619010840.jpg" alt="屋顶的瓦片"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/13227495/" class="userlogin" target="_blank" title="屋顶的瓦片">屋顶的瓦片-->
<!--<div class="articleCommentGender manIcon">31</div>-->
<!--</a>-->
<!--<span class="body">回复 3楼：我们这里有句话，饱吃不如宽坐。男的大多喜欢吃饭环境</span>-->
<!--</div>-->
<!--<div class="report">5</div>-->
<!--</div>-->

<!--<div id="comment-378382382" class="comment-block clearfix floor-4">-->
<!--<div class="avatars">-->
<!--<a href="/users/12171376/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/1217/12171376/thumb/20170514100423.JPEG" alt="我不是一支奇葩"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/12171376/" class="userlogin" target="_blank" title="我不是一支奇葩">我不是一支奇葩-->
<!--<div class="articleCommentGender womenIcon">99</div>-->
<!--</a>-->
<!--<span class="body">回复 3楼：嗯，好习惯</span>-->
<!--</div>-->
<!--<div class="report">4</div>-->
<!--</div>-->

<!--<div id="comment-378382346" class="comment-block clearfix floor-3">-->
<!--<div class="avatars">-->
<!--<a href="/users/33883000/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/3388/33883000/thumb/20170718065809.JPEG" alt="XiaobailongYyy"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/33883000/" class="userlogin" target="_blank" title="XiaobailongYyy">XiaobailongYyy-->
<!--<div class="articleCommentGender manIcon">27</div>-->
<!--</a>-->
<!--<span class="body">回复 2楼：我的确夸赞了，但是我在外面吃饭的原则是清净第一，我也不知道为什么我会这样。</span>-->
<!--</div>-->
<!--<div class="report">3</div>-->
<!--</div>-->

<!--<div id="comment-378382305" class="comment-block clearfix floor-2">-->
<!--<div class="avatars">-->
<!--<a href="/users/12171376/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/1217/12171376/thumb/20170514100423.JPEG" alt="我不是一支奇葩"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/12171376/" class="userlogin" target="_blank" title="我不是一支奇葩">我不是一支奇葩-->
<!--<div class="articleCommentGender womenIcon">99</div>-->
<!--</a>-->
<!--<span class="body">你咋不说实话呢，你自己明明心里承认人家手艺绝佳</span>-->
<!--</div>-->
<!--<div class="report">2</div>-->
<!--</div>-->

<!--<div id="comment-378382290" class="comment-block clearfix floor-1">-->
<!--<div class="avatars">-->
<!--<a href="/users/12171376/" target="_blank" rel="nofollow"><img src="//pic.qiushibaike.com/system/avtnew/1217/12171376/thumb/20170514100423.JPEG" alt="我不是一支奇葩"></a>-->
<!--</div>-->
<!--<div class="replay">-->
<!--<a href="/users/12171376/" class="userlogin" target="_blank" title="我不是一支奇葩">我不是一支奇葩-->
<!--<div class="articleCommentGender womenIcon">99</div>-->
<!--</a>-->
<!--<span class="body">哈哈哈，</span>-->
<!--</div>-->
<!--<div class="report">1</div>-->
<!--</div>-->

<div class="comment-tips">
<img src="//static.qiushibaike.com/images/web_loading.gif?v=e71187c31b0dd63dc086ba9d3e1590ff" class="comment-loading-img" alt="评论加载图">
<span>评论加载中</span>
</div>
</div>
</div>
<div id="comment-wrap" class="comment-wrap clearfix">
<form method="post" style="display:none;" action="/comment/119366593" class="login comments-area-form clearfix" data-article_id="119366593">
<input type="hidden" name="_xsrf" value="2|df073367|3943b58a273fc1cb161bb1d155cb5dc8|1501689004"/>
<div id="length" class="comment-limit-tips">
<span style="color: #0099FF !important;">
<strong style='font-weight:bold;'>140</strong>
</span>
</div>
<input type="hidden" name="comment[parent_id]">
<input type="hidden" value="119366593" name="comment[article_id]" id="comment_article_id">
<input id="comment-area" class="comment_input comment-area d-b f-l va-m p-s fs-s b-f-g b-lg bsi-l" name="comment[content]" autocomplete="off" placeholder="我有话说..." />
<input type="hidden" value="0" name="comment[anonymous]">
<button type="submit" id="comment_submit" class="comment-submit p-s b-g fs-s c-w br-s bs-l">评论</button>
</form>
<div class="logout">
</div>
</div>
<input type="hidden" class="isCommentPage">


</div>




<!--<div class="recommend clearfix">-->
<!--<h3>你可能喜欢的图片笑话</h3>-->


<!--<a href="/article/83533967" title="背影杀手……" style="background:white url(//pic.qiushibaike.com/system/pictures/8353/83533967/medium/app83533967.jpg) center center no-repeat;background-size:cover;">-->
<!--<div class="recommend-overlay">-->
<!--<p>-->
<!--背影杀手……-->

<!--</p>-->
<!--</div>-->
<!--</a>-->



<!--<a href="/article/24319899" title="中李莫愁与公孙止发生关系后" >-->
<!--<span>我</span>-->
<!--在想古代内功真的很厉害，记得《神雕侠侣》中李莫愁与公孙止发生关系后！公孙止问：那个怎么办！李莫愁说：没事，一会我用内功-->
<!--…-->
<!--</a>-->



<!--<a href="/article/115362211" title="黯然销魂饭" style="background:white url(//pic.qiushibaike.com/system/pictures/11536/115362211/medium/app115362211.jpg) center center no-repeat;background-size:cover;">-->
<!--<div class="recommend-overlay">-->
<!--<p>-->
<!--黯然销魂饭，致敬星爷。-->

<!--</p>-->
<!--</div>-->
<!--</a>-->



<!--<a href="/article/753495" title="那医生爽快地拿着扩肛器猛地往菊花插去" >-->
<!--<span>说</span>-->
<!--个朋友的，以下第一人称叙述。他也看糗百哦~~CNT，求过~-->
<!--================这是神马线=======-->
<!--…-->
<!--</a>-->



<!--<a href="/article/115168350" title="我居然在给一个男生讲什么叫做污" >-->
<!--<span>阿</span>-->
<!--西吧！！！我是有多污，我居然在给一个男生讲什么叫做污！！！-->

<!--</a>-->



<!--<a href="/article/110578302" title="女朋友做得西红柿鸡蛋汤" style="background:white url(//pic.qiushibaike.com/system/pictures/11057/110578302/medium/app110578302.jpg) center center no-repeat;background-size:cover;">-->
<!--<div class="recommend-overlay">-->
<!--<p>-->
<!--女朋友做得西红柿鸡蛋汤。-->

<!--</p>-->
<!--</div>-->
<!--</a>-->


<!--</div>-->


<!--<div class="recommend clearfix">-->
<!--<h3>最受欢迎的爆笑笑话</h3>-->


<!--<a href="/article/118670209" title="下班后跟老妈聊天问" >-->
<!--<span>在</span>-->
<!--外地上班……下班后跟老妈聊天问:“家里都谁在阿？”我妈说:“一个四十岁却依然美丽的女人跟一个二十岁的丑姑娘聊天呢。”-->

<!--</a>-->



<!--<a href="/article/118804496" title="一个对读者负责的人" style="background:white url(//pic.qiushibaike.com/system/pictures/11880/118804496/medium/app118804496.jpg) center center no-repeat;background-size:cover;">-->
<!--<div class="recommend-overlay">-->
<!--<p>-->
<!--一个对读者负责的人-->

<!--</p>-->
<!--</div>-->
<!--</a>-->



<!--<a href="/article/118475417" title="亲戚们来我家拜年" >-->
<!--<span>亲</span>-->
<!--戚们来我家拜年，轮番追问我的终身大事……我呵呵一笑，语重心长的对11岁的外甥女说：“多多啊，阿姨告诉你，大学毕业前一定-->
<!--…-->
<!--</a>-->



<!--<a href="/article/118946983" title="我们在宿舍猜测男人洞房花烛会是怎样的一种感觉" >-->
<!--<span>记</span>-->
<!--得那年青葱岁月，熄灯后，我们在宿舍猜测男人洞房花烛会是怎样的一种感觉，老大深沉的跟我们科普:“我猜，大概就像是便秘好久-->
<!--…-->
<!--</a>-->



<!--<a href="/article/118784326" title="和一哥们还一美女凑了一桌地主" >-->
<!--<span>和</span>-->
<!--一哥们还一美女凑了一桌地主，美女出了对二报单，哥们说不要，我心伤的说，美女说单你都不要，活该你单！美女紧张了，你要？我-->
<!--…-->
<!--</a>-->



<!--<a href="/article/118750415" title="说一个大男人经常出门办事身无分文也不像话" >-->
<!--<span>我</span>-->
<!--一哥们结婚后经济被媳妇控制得很苛刻，经常身无分文，每次小聚都跟我们哥几个诉苦，我们哥几个知道情况后也经常做他媳妇思想工-->
<!--…-->
<!--</a>-->


<!--</div>-->

</div>


<div class="col2">
<div id="sidebar" class="sidebar">

<!--<div class="shopwindow">-->
<!--&lt;!&ndash; 55736473：web-右侧悬浮-up 类型：固定 尺寸：300x250&ndash;&gt;-->
<!--&lt;!&ndash; 新广告代码：2017-05-03 &ndash;&gt;-->
<!--&lt;!&ndash; <script type="text/javascript">-->
<!--document.write('<a style="display:none!important" id="tanx-a-mm_108378320_8760716_29674533"></a>');-->
<!--tanx_s = document.createElement("script");-->
<!--tanx_s.type = "text/javascript";-->
<!--tanx_s.charset = "gbk";-->
<!--tanx_s.id = "tanx-s-mm_108378320_8760716_29674533";-->
<!--tanx_s.async = true;-->
<!--tanx_s.src = "https://phs.tanx.com/ex?i=mm_108378320_8760716_29674533";-->
<!--tanx_h = document.getElementsByTagName("head")[0];-->
<!--if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);-->
<!--</script> &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--var cpro_id = "u693365";-->
<!--</script>-->
<!--<script type="text/javascript" src="https://cpro.baidustatic.com/cpro/ui/c.js"></script>-->
<!--</div>-->

<!--<div class="shopwindow" id="listAd2">-->
<!--&lt;!&ndash; 55736473：web-右侧悬浮-up 类型：固定 尺寸：300x250&ndash;&gt;-->
<!--&lt;!&ndash; 新广告代码：2017-05-03 &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--/*右侧2*/-->
<!--// var cpro_id = "u693365";-->
<!--// document.write('<script type="text/javascript" src="https://cpro.baidustatic.com/cpro/ui/c.js"><\/script>');-->
<!--// 2017-5-23 修改-->
<!--FTAPI_slotid = 1026761;FTAPI_sync = true-->
<!--document.write('<script src="//pic.fastapi.net/sdk/js/a.js" charset="utf-8"><\/script>')-->
<!--</script>-->
<!--</div>-->



<!-- <div class="sidebar-tutorial clearfix">
<h3>糗百小提示</h3>
<div class="sidebar-tutorial-block">
<div class="sidebar-tutorial-keyboard"></div>
<div class="sidebar-tutorial-text">按 Ctrl+D 键，把糗事百科加入收藏夹</div>
</div>
</div> -->
<!--<div class="sidebar-other">-->
<!--<img src="/static/images/productlist/ctrl_d.png">-->
<!--<p>把糗事百科加入收藏夹</p>-->
<!--</div>-->

<!--<div class="sidebar-hot clearfix">-->
<!--<h3>爆笑糗事精选</h3>-->
<!--<ul>-->

<!--<li class="item">-->
<!--<a href="/article/118933508" rel="nofollow">-->
<!--<span><img src="//pic.qiushibaike.com/system/pictures/11893/118933508/medium/app118933508.jpg?imageView2/1/w/146/h/146" alt="老家的樱桃熟了"/></span>-->
<!--</a>-->
<!--<a href="/article/118933508" title="老家的樱桃熟了" rel="nofollow">-->
<!--<p>老家的樱桃熟了</p>-->
<!--</a>-->
<!--</li>-->

<!--<li class="item">-->
<!--<a href="/article/118964113" rel="nofollow">-->
<!--<span><img src="//pic.qiushibaike.com/system/pictures/11896/118964113/medium/app118964113.jpg?imageView2/1/w/146/h/146" alt="万能糗友谁能告诉这是哪儿"/></span>-->
<!--</a>-->
<!--<a href="/article/118964113" title="万能糗友谁能告诉这是哪儿" rel="nofollow">-->
<!--<p>万能糗友谁能告诉这是哪儿</p>-->
<!--</a>-->
<!--</li>-->

<!--<li class="item">-->
<!--<a href="/article/118977555" rel="nofollow">-->
<!--<span><img src="//pic.qiushibaike.com/system/pictures/11897/118977555/medium/app118977555.jpg?imageView2/1/w/146/h/146" alt="知道了一个新名词，叫“千斤顶"/></span>-->
<!--</a>-->
<!--<a href="/article/118977555" title="知道了一个新名词，叫“千斤顶" rel="nofollow">-->
<!--<p>知道了一个新名词，叫“千斤顶</p>-->
<!--</a>-->
<!--</li>-->

<!--<li class="item">-->
<!--<a href="/article/118935351" rel="nofollow">-->
<!--<span><img src="//pic.qiushibaike.com/system/pictures/11893/118935351/medium/app118935351.jpg?imageView2/1/w/146/h/146" alt="爬铁塔作业拾六个鸟蛋请问是什么鸟蛋"/></span>-->
<!--</a>-->
<!--<a href="/article/118935351" title="爬铁塔作业拾六个鸟蛋请问是什么鸟蛋" rel="nofollow">-->
<!--<p>爬铁塔作业拾六个鸟蛋请问是什么鸟蛋</p>-->
<!--</a>-->
<!--</li>-->

<!--<li class="item">-->
<!--<a href="/article/118937920" rel="nofollow">-->
<!--<span><img src="//pic.qiushibaike.com/system/pictures/11893/118937920/medium/app118937920.jpg?imageView2/1/w/146/h/146" alt="你是死肥宅么"/></span>-->
<!--</a>-->
<!--<a href="/article/118937920" title="你是死肥宅么" rel="nofollow">-->
<!--<p>你是死肥宅么</p>-->
<!--</a>-->
<!--</li>-->

<!--<li class="item">-->
<!--<a href="/article/118935386" rel="nofollow">-->
<!--<span><img src="//pic.qiushibaike.com/system/pictures/11893/118935386/medium/app118935386.jpg?imageView2/1/w/146/h/146" alt="小肚子没了才算减肥成功"/></span>-->
<!--</a>-->
<!--<a href="/article/118935386" title="小肚子没了才算减肥成功" rel="nofollow">-->
<!--<p>小肚子没了才算减肥成功</p>-->
<!--</a>-->
<!--</li>-->

<!--<li class="item">-->
<!--<a href="/article/118958831" rel="nofollow">-->
<!--<span><img src="//pic.qiushibaike.com/system/pictures/11895/118958831/medium/app118958831.jpg?imageView2/1/w/146/h/146" alt="生性多疑"/></span>-->
<!--</a>-->
<!--<a href="/article/118958831" title="生性多疑" rel="nofollow">-->
<!--<p>生性多疑</p>-->
<!--</a>-->
<!--</li>-->

<!--<li class="item">-->
<!--<a href="/article/118992819" rel="nofollow">-->
<!--<span><img src="//pic.qiushibaike.com/system/pictures/11899/118992819/medium/app118992819.jpg?imageView2/1/w/146/h/146" alt="请问需要几把钥匙才能打开"/></span>-->
<!--</a>-->
<!--<a href="/article/118992819" title="请问需要几把钥匙才能打开" rel="nofollow">-->
<!--<p>请问需要几把钥匙才能打开</p>-->
<!--</a>-->
<!--</li>-->

<!--</ul>-->
<!--</div>-->
<div class="sidebar-hot clearfix">
<h3>热门话题<a class="more" >更多 ></a></h3>
<div class="sidebar-tag-block">

{% for link in list_links %}
<li><i># </i><a href={{ link.0 }}>{{ link.1 }}</a><i> #</i></li>
{% endfor %}
<!--<li><i># </i><a href="/joke/1509239/">搞笑的相亲自我介绍</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/728457/">头像女生带字笑</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/624002/">关于机器猫的笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/578096/">合肥方言笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/577745/">歌词什么什么笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/576027/">梦到别人给自己讲笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/573362/">让人吃饭的笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/573184/">适合父子表演的笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/572988/">妈妈儿子笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/571887/">带有讽刺令人的笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/567506/">成为赌神搞笑幽默笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/567494/">情侣一句话笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/561838/">关于汉字的谐音笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/558724/">好笑的小笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/314137/">qq动态里发搞笑图片</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/170248/">会动的猫咪图片搞笑</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/31592/">搞笑的酒店名字</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/16126/">适合孩子的笑话</a><i> #</i></li>-->

<!--<li><i># </i><a href="/joke/15130/">早会激励笑话</a><i> #</i></li>-->


</div>
</div>


<!--<div class="shopwindow" id="listAd3">-->
<!--&lt;!&ndash; 55736473：web-右侧悬浮-up 类型：固定 尺寸：300x250&ndash;&gt;-->
<!--&lt;!&ndash; <script type="text/javascript">-->
<!--document.write('<a style="display:none!important" id="tanx-a-mm_108378320_8760716_29640993"></a >');-->
<!--tanx_s = document.createElement("script");-->
<!--tanx_s.type = "text/javascript";-->
<!--tanx_s.charset = "gbk";-->
<!--tanx_s.id = "tanx-s-mm_108378320_8760716_29640993";-->
<!--tanx_s.async = true;-->
<!--tanx_s.src = "https://phs.tanx.com/ex?i=mm_108378320_8760716_29640993";-->
<!--tanx_h = document.getElementsByTagName("head")[0];-->
<!--if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);-->
<!--</script> &ndash;&gt;-->
<!--&lt;!&ndash; 新广告代码：2017-05-03 &ndash;&gt;-->
<!--<script>-->
<!--var cpro_id = "u1101312";-->
<!--document.write('<script type="text/javascript" src="https://cpro.baidustatic.com/cpro/ui/c.js"><\/script>');-->
<!--</script>-->
<!--</div>-->

<!--<div class="shopwindow">-->
<!--&lt;!&ndash; 55736475：web-右侧悬浮-dn 类型：固定 尺寸：300x250&ndash;&gt;-->
<!--&lt;!&ndash; 新广告代码：2017-05-03 &ndash;&gt;-->
<!--&lt;!&ndash; <script type="text/javascript">-->
<!--document.write('<a style="display:none!important" id="tanx-a-mm_108378320_8760716_29640993"></a>');-->
<!--tanx_s = document.createElement("script");-->
<!--tanx_s.type = "text/javascript";-->
<!--tanx_s.charset = "gbk";-->
<!--tanx_s.id = "tanx-s-mm_108378320_8760716_29640993";-->
<!--tanx_s.async = true;-->
<!--tanx_s.src = "https://phs.tanx.com/ex?i=mm_108378320_8760716_29640993";-->
<!--tanx_h = document.getElementsByTagName("head")[0];-->
<!--if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);-->
<!--</script> &ndash;&gt;-->
<!--&lt;!&ndash; 谷歌代码 &ndash;&gt;-->
<!--&lt;!&ndash; <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> &ndash;&gt;-->
<!--&lt;!&ndash; 16-糗事百科首页右侧3_BTF_300x250 &ndash;&gt;-->
<!--&lt;!&ndash; <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-4939841000086153" data-ad-slot="4055944974"></ins>-->
<!--<script>-->
<!--(adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script> &ndash;&gt;-->
<!--<script type="text/javascript" src="https://s.haiyunimg.com/SSP/30169.js"></script>-->
<!--</div>-->

</div>
</div>



</div>
</div>

</body>
</html>