
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
<meta name="renderer" content="webkit"/>
<meta name="applicable-device" content="pc">


















<title>{{ title }}</title>






















<meta name="keywords" content="笑话,搞笑,笑话大全 爆笑,笑话大全,糗事百科,幽默笑话,爆笑笑话" />
<meta name="description" content="糗事百科是一个原创的糗事笑话分享社区,糗百网友分享的搞笑段子、搞笑图片大全,都是糗友最珍贵的开心经历,爆笑糗事笑话只在糗事百科！"/>
<meta http-equiv="mobile-agent" content="format=xhtml;url=//www.qiushibaike.com/">
<meta http-equiv="mobile-agent" content="format=html5;url=//www.qiushibaike.com/">


<link rel="canonical" href="127.0.0.1:8000/qiushibaike"/>


<meta name="robots" content="noarchive">
<link href="//static.qiushibaike.com/css/dist/web/app.min.css?v=469cfa1226bca73dda18635120c2aa22" media="screen, projection" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
// Baidu Automatic push content
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?2670efbdd59c7e3ed3749b458cafaa37";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>



<div id="header" class="head">
<div class="content-block">
<div class="logo" id="hd_logo">
<a ><h1>糗事百科</h1></a>
</div>
<div id="menu" class="menu-bar menu clearfix" style="margin:0 10px">
<a  id="highlight" rel="nofollow">热门</a>
<a  >24小时</a>
<a  >热图</a>
<a  >文字</a>
<a  >穿越</a>
<a  >糗图</a>
<a  >新鲜</a>
<a  class="fn-signin-required" href="javascript:void(0);" data-go="/article/add" rel="nofollow">投稿</a>
<!--<a href="http://www.youliaodao.cn" target="_blank" rel="nofollow">百科</a>-->
</div>
<div class="userbar clearfix">
<div class="login hidden">
<a href="/my" class="username" id="uname" rel="nofollow"></a>
</div>
<div class="logout">
<a href="javascript:void(0);" class="fn-signin-required logintop" id='logintop' rel="nofollow" style="font-size:16.5px;">登录</a>
</div>
</div>
</div>
</div>



<div id="content" class="main">
<div class="content-block clearfix">

<div id="content-left" class="col1">







{% for joke in joke_list %}



<div class="article block untagged mb15" >

<div class="author clearfix">

<a href="{{joke.5}}" target="_blank" title={{ joke.0 }}>
<h2>{{ joke.0 }}</h2>
</a>

</div>



<a href={{ joke.1 }} target="_blank" class='contentHerf' >
<div class="content">

<span>{{ joke.2 }}</span>

</div>
</a>





<div class="stats">
<span class="stats-vote"><i class="number">{{ joke.3 }}</i> 好笑</span>
<span class="stats-comments">


<span class="dash"> · </span>
<i class="number">{{ joke.4 }}</i> 评论



</span>
</div>
<div>
<ul class="clearfix">
<li id="vote-up-119155745" class="up">
<a href="javascript:voting(119155745,1)" class="voting" data-article="119155745" id="up-119155745" rel="nofollow">
<i></i>
<span class="number hidden">300</span>
</a>
</li>
<li id="vote-dn-119155745" class="down">
<a href="javascript:voting(119155745,-1)" class="voting" data-article="119155745" id="dn-119155745" rel="nofollow">
<i></i>
<span class="number hidden">-9</span>
</a>
</li>

</ul>
</div>
<div class="single-share">

</div>
<div class="single-clear"></div>




</div>
{% endfor %}






</div>



<div class="col2">
<div id="sidebar" class="sidebar">
<div class="sidebar-inform">
<a href="http://report.12377.cn:13225/toreportinputNormal_anis.do" target="_blank" rel="nofollow"></a>
</div>
<div class="sidebar-hot clearfix">
<h3>热门话题<a class="more" >更多 ></a></h3>
<div class="sidebar-tag-block">

{% for joke in joke_lists %}
<li><i># </i><a href={{ joke.0 }}>{{ joke.1 }}</a><i> #</i></li>
{% endfor %}



</div>
</div>
</div>
</div>



</div>
</div>


<!--<div class="foot">-->
 <!--<div class="foot-ad" id="footAd">-->
<!--&lt;!&ndash; 68902435：web-底部固定 类型：固定 尺寸：728x90&ndash;&gt;-->
<!--&lt;!&ndash; 2017/2/28 注释旧的广告代码，改为使用 https 的广告 &ndash;&gt;-->
<!--&lt;!&ndash; <script type="text/javascript">//<![CDATA[-->
<!--ac_as_id = "mm_108378320_13540554_68902435";-->
<!--ac_format = 1;-->
<!--ac_mode = 1;-->
<!--ac_group_id = 1;-->
<!--ac_server_base_url = "afpeng.alimama.com/";-->
<!--//]]></script>-->
<!--<script type="text/javascript" src="//afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script> &ndash;&gt;-->
<!--<script type="text/javascript">//<!—-->
<!--google_ad_client = "ca-pub-7443704194229694";-->
<!--/* IDG.CN_B2C_qiushibaike.com_HY_728x90 */-->
<!--google_ad_slot = "9826878184";-->
<!--google_ad_width = 728;-->
<!--google_ad_height = 90;-->
<!--//—>-->
<!--document.write('<script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js"><\/script>');-->
<!--</script>-->
<!--</div>-->

<!--<div class="foot-nav clearfix">-->
<!--<div class="foot-nav-col">-->
<!--<h3>-->
<!--关于-->
<!--</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="//about.qiushibaike.com/web_jobs.html#team" target="_blank" rel="nofollow">-->
<!--关于糗百-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="//about.qiushibaike.com/web_jobs.html#tech" target="_blank" rel="nofollow">-->
<!--加入我们-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="//about.qiushibaike.com/web_jobs.html#contact" target="_blank" rel="nofollow">-->
<!--联系方式-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="foot-nav-col">-->
<!--<h3>-->
<!--帮助-->
<!--</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="//about.qiushibaike.com/feedback.html" target="_blank" rel="nofollow">-->
<!--在线反馈-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="//about.qiushibaike.com/agreement.html" target="_blank" rel="nofollow">-->
<!--用户协议-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="//about.qiushibaike.com/policy.html" target="_blank" rel="nofollow">-->
<!--隐私政策-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="foot-nav-col">-->
<!--<h3>-->
<!--下载-->
<!--</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="http://android.myapp.com/android/appdetail.jsp?appid=107431&icfa=15144196000105020000&lmid=2031"-->
<!--target="_blank" rel="external nofollow">-->
<!--Android 客户端-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="http://itunes.apple.com/app/id422853458" target="_blank" rel="external nofollow">-->
<!--iPhone 客户端-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="foot-nav-col">-->
<!--<h3>-->
<!--关注-->
<!--</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="#" class="foot-wechat">-->
<!--微信-->
<!--<div class="foot-wechat-tips">-->
<!--<span class="foot-wechat-icon"></span>-->
<!--手机扫描二维码关注-->
<!--</div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="http://weibo.com/qiushibaike" target="_blank" rel="external nofollow">-->
<!--新浪微博-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="http://user.qzone.qq.com/1492495058" target="_blank" rel="external nofollow">-->
<!--QQ空间-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="foot-nav-col">-->
<!--<h3>-->
<!--组织-->
<!--</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="http://shang.qq.com/wpa/qunwpa?idkey=da34d190ca97a0b21d64ebc6f3ab72c076ed35820e629b78fcf9f6a78f7063cd"-->
<!--target="_blank" rel="external nofollow">-->
<!--网站反馈群-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="http://user.qzone.qq.com/1492495058/blog/1408597608" target="_blank"-->
<!--rel="external nofollow">-->
<!--官方粉丝群-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<div class="foot-copyrights">
<p>互联网ICP备案：京ICP备14028348号-1</p>
<p>
<span>广播电视节目制作经营许可证：（京）字第08319号</span>
<span>网络文化经营许可证：京网文[2017]2369-247号</span>
</p>
<p style="margin-top: 8px">电信与信息服务业务经营许可证：京ICP证140448号</p>
<p>
<span>计算机信息网络国际联网单位备案：<a style='color:#333' target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502031601" rel="nofollow"><img style='vertical-align: top;' src="/static/images/beian.png?v=d0289dc0a46fc5b15b3363ffa78cf6c7" />京公网安备11010502031601号</a></span>
</p>
<br>
<p style="margin-top: 8px">何泽阳科技有限公司</p>
<p>
<span>违法和不良信息举报电话：010-84872896</span>
<span>邮箱：2075451157@qq.com</span>
</p>
<br>
<p style="margin-top: 8px">&copy; python.com 何泽阳版权所有</p>
</div>


<!--<div class="signin-box" id="login-form">-->
<!--<div class="sigin-left">-->
<!--<div class="signin-account clearfix">-->
<!--<h4 class="social-signin-heading">社交帐号登录</h4>-->
<!--<a rel="external nofollow" oauth_href href="https://open.weixin.qq.com/connect/qrconnect?appid=wx559af2d26b56c655&redirect_uri=http%3A%2F%2Fwww.qiushibaike.com%2Fnew4%2Fsession%3Fsrc%3Dwx&response_type=code&scope=snsapi_login#wechat_redirect" class="social-btn social-wechat">-->
<!--使用 微信 账号</a>-->
<!--<a rel="external nofollow" oauth_href href="https://api.weibo.com/oauth2/authorize?client_id=63372306&redirect_uri=http%3A%2F%2Fwww.qiushibaike.com%2Fnew4%2Fsession" class="social-btn social-weibo">-->
<!--使用 微博 账号</a>-->
<!--<a rel="external nofollow" oauth_href href="https://graph.qq.com/oauth2.0/authorize?which=Login&display=pc&client_id=100251437&response_type=code&redirect_uri=www.qiushibaike.com/new4/session?src=qq" class="social-btn social-qq">-->
<!--使用 QQ 账号 </a>-->
<!--</div>-->
<!--<div class="signin-form clearfix">-->
<!--<h4 class="social-signin-heading">糗事百科账号登录</h4>-->
<!--<form method="post" action="/new4/session">-->
<!--<input type="hidden" name="_xsrf" value="2|740856eb|924cd0068c30a447bd14d45dfec43844|1501689004"/>-->
<!--<div class="signin-section clearfix">-->
<!--<input type="text" class="form-input form-input-first" name="login" placeholder="昵称或邮箱">-->
<!--<input type="password" class="form-input" name="password" placeholder="密码">-->
<!--<input type="checkbox" id="remember_me" name="remember_me" checked="" value="checked" style="display:none">-->
<!--</div>-->
<!--<div class="signin-error" id="signin-error"></div>-->
<!--<button type="submit" id="form-submit" class="form-submit">登录</button>-->
<!--</form>-->
<!--</div>-->
<!--<div class="signin-foot clearfix">-->
<!--<a rel="nofollow" href="/new4/fetchpass" class="fetch-password">忘记密码?</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="float-nav">
<a class="float-nav-backtop" href="#" rel="nofollow">
<span class="float-nav-backtop-icon"></span>
</a>
</div>

<!--&lt;!&ndash;[if gte IE 6]>-->
<!--<script type="text/javascript" src="//static.qiushibaike.com/js/src/web/json3.js?v=3a7f66a11a09842cd7555fad039657be"></script>-->
<!--<![endif]&ndash;&gt;-->
<!--<script type="text/javascript" src="//static.qiushibaike.com/js/dist/web/libs.min.js?v=bc8ddd36f0e7fed7c27f437c17f23ce0"></script>-->
<!--<script type="text/javascript" src="//static.qiushibaike.com/js/dist/web/app.min.js?v=75c323aea3cd9b5d3ec99747f2b0e2a7"></script>-->



<!--<script type="text/javascript">-->
<!--// Google Analytics-->
<!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
<!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
<!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
<!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->
<!--ga('create', 'UA-8780108-1', 'auto');-->
<!--ga('send', 'pageview');-->
<!--</script>-->
</body>
</html>
